.c_amiibo {
  cursor: pointer;
}

.c-figure_amiibo {
  padding: 10px;
  margin: 20px;
}

.c-img_amiibo {
  max-width: 100%;
}
.c-name_amiibo {
  color: white;
  font-family: Arial;
  font-size: 25px;
}
