
.contactpage-wrapper {
  justify-content: center;
  text-align: center;
}
  .form-div {
    display: flex;
    flex-direction: column;

    width: 40%;
    &-item {
      background-color: #f0f8ff;
      border: 1px solid black;
      height: 25px;
    }
    &-item-textarea {
      height: 100px;
    }
    &-btnitem {
      width: 100px;
      background-color: #f0f8ff;
      border: 1px solid black;
    }
}
